.container {
    background-image: url(../../img/banner.jpg);
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.element-container{
    background-color: #d8eefe77;
    padding: 30px 100px;
}
.container h1{
    color: #094067;
    font-size: 70px;
}
.container p{
    color: #033b63;
    font-size: 30px;
    font-weight: 500;
}
.container h3{
    font-size: 50px;
}
