*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d8eefe;
}
p{
    color: #5f6c7b;
}
h1,h2,h3,h4,h5,h6 {
    color: #094067;
}
button:hover{
    cursor: pointer;
}
.button-primary{
    background-color: #3da9fc;
    color: #fffffe;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
     transition: 0.4s;
     margin: 10px 0;
     font-size: 16px;
}
.button-primary:hover{
    background-color: #1f9bfa;
}

.button-secondary{
    background-color: #ef4565;
    color: #fffffe;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    transition: 0.4s;
    margin: 10px 0;
    font-size: 16px;
}
.button-secondary:hover {
    background-color: #ee2b4f;
}
.top-heading{
    text-align: center;
    margin: 20px 0;
}
